
  .portfolio .portfolio-container .portfolio-item .content-holder {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(248, 92, 112, 0.8);
    color: #fff;
    opacity: 0;
    visibility: hidden;
    text-align: center;
  }
  .img-fluid{
    margin-left: auto;
    margin-right: auto;
  }
 .col-lg-4{
  margin-top: 20px;
 }